html {
    background: #232323;
    color: white;
}

.data-container {
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -40%);
    transform: translate(-50%, -40%);
}

.startButton {
    background-color: #44c767;
    border-radius: 28px;
    border: 1px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
    width: 15%;
    height: max-content;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.startButton:hover {
    background-color: #5cbf2a;
}

.startButton:active {
    position: relative;
    top: 1px;
}

.title {
    text-align: center;
    padding-left: 5%;
}

.centerLoader {
    margin-left: 50%;
}

.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #18ab29;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}


/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}